{% extends 'solver/base.html' %}


{% block content %}
<div class="container">
    <h1 class="text-center mt-4 mb-5">Handwritten Digit Recognition</h1>
    <p class="text-center">Draw your digit</p>
    <div class="d-flex justify-content-center">
    <canvas id="canvas" class="mb-4" style="border:8px solid; border-radius: 5px; cursor: crosshair;"></canvas>
</div>
    <div class="d-grid gap-2 d-flex justify-content-center mb-5">
        <button onclick="clearCanvas()" type="button" class="btn btn-dark" style="width: 100px;">CLEAR</button>
        <button id="predict" type="button" class="btn btn-dark" style="width: 100px;">PREDICT</button>
  </div>
  <p class="text-center">Predicted Output:</p>
</div>

{% endblock %}